// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-black{
    background: url('/img/bg.jpg');
}
.grid-stack-item-content{
    color: white;
    &.text{
        background: nth($rcolor, random(length($rcolor)));
        display: flex;
    }
    &.text h1{
        margin: auto;
    }
    &.gauge{
        background: nth($rcolor, random(length($rcolor)));
        width: auto;
        height: auto;
    }
    &.graph{
        background: nth($rcolor, random(length($rcolor)));
    }
    &.number{
        background: nth($rcolor, random(length($rcolor)));
        display: flex;
    }
    &.number h1{
        font-size: 5em;
        margin: auto;
    }
    &.food .food-container{
        padding-bottom: 10px;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    & .title-text {
        font-size: 16px;
        font-weight: 600;
    }
    & .gauge.gauge_item{
        width: 70%;
        height: 70%;
        margin-top: 0;
        padding-top: 0;
    }
    & .chart_item{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    &.clock {
        background: nth($rcolor, random(length($rcolor)));
        background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
        background-size: 100%;
    
        & p {
            margin: 0;
            padding: 0;
        }
        & #clock {
            font-family: 'Share Tech Mono', monospace;
            color: #ffffff;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #daf6ff;
            text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
            .time {
                letter-spacing: 0.05em;
                font-size: 30px;
                padding: 5px 0;
            }
            .date {
                letter-spacing: 0.1em;
                font-size: 22px;
            }
        }    
    }
    
}
.grid-item-content{
    overflow: hidden!important;
}
.widget_id_bottom{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}
